/*Fix content display to add a respectable margin and center*/
/*Fix content display for small devices*/

body{
	background-color: #1f1f1f;
	color:#ecc801;
	margin: 0px 0px 0px 0px;
}

header{
	margin-left:8px;
	margin-top:8px;
}

footer{
	display: block;
	/*! position: absolute; */
	bottom: 0;
	width: 100%;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
	text-align: center;
	background-color: #4e0b0b;
	color: silver;
}

.linkBox{
	display: inline-block;
	/*! float: left; */
	width: 250px;
	height: 180px;
	margin-right: 40px;
	margin-bottom: 30px;
	color: black;
	background-color: #a70927;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 8px 8px 3px 2px #0000005c;
}

.linkBox:hover{
    background-color: #610202;
}

.linkBox img{
	display:block;
    margin-left:auto;
    margin-right:auto;
	height:calc(100% - 3.4em);
	max-width: 90%;
}

.linkBoxSubtitle{
	border-top:2px solid #fa807275;
    margin-top:0.5em;
    padding-top:0.5em;
	text-align:center;
	color:#ecc801
}

.hugeGap{
	display: block;
	height: 20px;
}

#mainContent{
	display: block;
	width: 95vw;
	min-height: calc(100vh - 4em - 34px);
	/*Content is supposed to fill up the screen, but not overflow unless necessary.*/
	/*It achieves that by trying to fill up the screen, and subtracting the height of other elements */
}
